body {
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*flex-direction: permite modificar el eje principal y secundario */
  padding: 10px 35px;
}

.main-navigation ul {
  display: flex;
  list-style: none;
  gap: 10px;
  a {
    text-decoration: none;
    color: #555;
  }
}

#search-form {
  input {
    border: none;
    background-color: #ddd;
    border-radius: 5px;
  }
}

.main-banner {
  background-image: url("./images/UAA2.jpg"); /*coloca una imagen de fondo*/
  background-size: cover; /*modifica el tamaño*/
  background-position: center; /*modifica la posicion*/
  height: 70vh;

  display: flex;
  justify-content: left;
  align-items: center;
}
.cta-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100%;
  padding: 0px 40px;
  background-color: #55555555;
  color: #fff;
  .banner-title {
    font-size: 40px;
  }
}
.primary-btn {
  background-color: #16234b;
  width: 150px; 
  padding: 10px 0;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.primary-btn:hover{
  transform: scale(1.2);
}

.products-container{
  padding: 10px 25px;
}

.title{
  color: #16234b;
  font-size: 32px;
}

.products-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card{

  height: 275px;
  width: 200px;
  border: 1px solid #555;
  border-radius: 2px;
  
  img{
    background-color: #555;
    height: 190px;
    width: 100%;
  }
  strong{
    padding: 0px 10px;
  }
  p{
    font-weight: bold;
    color: #C92C5B;
    font-size: 20px;
    padding: 0px 10px;
  }
}

.layout{
  display: flex;
  height: 30%;
}
.container{
  width: 85%;
}
#left-aside{
  width: 15%;
}
.navigation-menu{
  color: #555;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  list-style: none;
  width: 100%;
  padding: 0;
 
}

.menu-item{
  padding: 20px;
  transition: background-color 0.5s;
  a{
    text-decoration: none;
    color: #555;
    font-weight: bold;
  }
}

.menu-item:hover{
  border-left: 2px solid red;
  background-color: #ddd;
  color: #000;
}


footer{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top:5px solid #16234b;
  padding: 5px 10px;
  ul{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    list-style: none;
  }
}