* {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #dfe3e2;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  background-color: #fff;
  border: 1px solid #008585;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 350px;
  height: 400px;
  gap: 15px;
}

.input-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  input {
    background-color: #ebebeb;
    border: none;
    width: 100%;
    height: 28px;
  }
}
.btn-primary{
    background-color: #008585;
    color:aqua;
    width: 100%;
    border: none;
    font-weight: bold;
    padding: 7px;
    border-radius: 3px;
    
}
.support{
    border-top: 1px solid #aeaeae ;
    width: 100%;
    font-size: x-small;
    text-align: center;
}